/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: RGB(133,164,140)}
}



#GameOver{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#myParagraph {
  margin: auto;
  margin-top: 0 px;
  position: relative;
  width: 500 px;
  height: 200 px;
  color: #333;
  text-align: center;
}

canvas {
  position: relative !important;
}